<a href="https://colab.research.google.com/github/mitsiek/Automate-the-Boring-Stuff-with-Python-Solutions/blob/master/combine_list_into_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [109]:
from bs4 import BeautifulSoup
import requests
from IPython.core.display import display, HTML
import urllib.request
import pandas as pd

#https://www.moneycontrol.com/news/analysis-252.html/page-2/
text = urllib.request.urlopen('https://www.financialexpress.com/market/stock-market/subex-ltd-stock-price/')
article = text.read()
#display(HTML('<h2>Summarized data from financial express</h2>'))
article_parsed = BeautifulSoup(article, 'lxml')
span = article_parsed.find('div', {'class' : 'tablebox'})

In [120]:
param_list = []
data_list = []

for span_param_name in span.findAll('span', {'class' : 'tdbox dark-gray'}):
  param_list.append(span_param_name.text)

res_param = []
for i in param_list:
    if i not in res_param:
        res_param.append(i)  

for span_data in span.findAll('span', {'class' : 'tdbox align-right'}):
  data_list.append(span_data.text)

res_data = []
for i in data_list:
    if i not in res_data:
        res_data.append(i)

In [121]:
data = {'Parameter':res_param,'Values':res_data}
df = pd.DataFrame(data)
df

                  Parameter         Values
0            Previous Close          71.20
1                Day's Open          71.90
2           Bid Price (Qty)    70.55 (759)
3         Offer Price (Qty)   70.60 (3819)
4          Day’s High - Low  72.10 - 70.25
5             52 Week Range     7.4 - 74.4
6  Volume Traded (in 000's)        5281.00
7     Value traded (in Cr.)          37.26
8              PE Ratio (x)         151.32
9            M Cap (in Cr.)        3967.74