<a href="https://colab.research.google.com/github/mitsiek/Automate-the-Boring-Stuff-with-Python-Solutions/blob/master/scrape_financialexpress.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip3 install requests
!pip3 install beautifulsoup4
!pip3 install fastnumbers
!pip3 install pytidylib

In [46]:
import numpy as np # linear algebra
import pandas as pd # pandas for dataframe based data processing and CSV file I/O
import requests # for http requests
from bs4 import BeautifulSoup # for html parsing and scraping
from multiprocessing.dummy import Pool as ThreadPool
import json
from tidylib import tidy_document # for tidying incorrect html
from IPython.core.display import HTML
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
balSheet = pd.read_html('https://www.financialexpress.com/market/stock-market/subex-ltd-stock-price/financials-ratios/').pop(0)
df1 = pd.DataFrame(balSheet)
df1.iloc[[1, 14, 16, 34, 41]]

                  Parameter  MAR 21  MAR 20  YoY %Change
1   Earnings Per Share (Rs)    0.92   -4.79       119.22
14                   ROE(%)    9.75  -41.15       123.70
16        Asset Turnover(x)    0.53    0.46        14.58
34             Growth Ratio     NaN     NaN          NaN
41     Total Debt/Equity(x)    0.01    0.00         0.00